@model IEnumerable<PartyInvite.Model.GuestResponse>

@{
    ViewData["Title"] = "Responses";
}

<h2>People will attend </h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gift ID</th>
        <th>Action</th>
    </tr>

    @foreach (PartyInvite.Model.GuestResponse r in Model)
    {
    <tr>
        <td>@r.Id</td>
        <td>@r.Name</td>
        <td>@r.Email</td>
        <td>@r.Phone</td>
        <td>@r.GiftId</td>
        <td>
            <a class="btn btn-outline-success p-0 btn-edit"> 📝 </a>
        </td>

    </tr>
    }
</table>

<!--

<a asp-controller="GuestCRUD" asp-action="EditGuest" asp-route-Id="r.Id" class="btn btn-outline-success p-0 btn-edit"> 📝 </a>
            <a asp-controller="GuestCRUD" asp-action="DeleteGuest" asp-route-Id="r.Id" class="btn btn-outline-danger p-0 btn-delete"> ❌ </a>
-->
<style>
    td {
        cursor: pointer;
    }

    .selected {
        background-color: #0094ff;
    }
</style>