@model IEnumerable<PartyInvite.Model.GuestResponse>

@{
    ViewData["Title"] = "Responses";
}

<h2>People will attend </h2>

<div>
    <p id="responsesmessage"> </p>
</div>

<div class="row mt-2 mb-2">    
    <form id="listpage_searchform" class="form-inline" method="post">
        <div class="form-group">
            <label for="searchtext">Search text: </label>
            <input type="text" name="search" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary ml-2">Submit</button>
    </form>
</div>

<table id="listresponses_table" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gift Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (PartyInvite.Model.GuestResponse r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td>@r.Phone</td>
                <td>@r.GiftName</td>
                <td>
                    <a asp-controller="GuestCRUD" asp-action="EditGuest" asp-route-Id=@r.Id class="btn btn-outline-success p-0 btn-edit"> 📝 </a>
                    <a asp-controller="GuestCRUD" asp-action="DeleteGuest" asp-route-Id=@r.Id class="btn btn-outline-danger p-0 btn-delete"> ❌ </a>
                </td>

            </tr>
        }
    </tbody>
</table>
@{
    var pagesize = 2.0;
    var count = @Model.Count();
    var iterators = Math.Ceiling(count/pagesize);
}

<div id="listresponses" class="d-flex">
    <ul class="pagination mx-auto">
        @for (int i = 1; i <= iterators; i++)
        {
            <li class="page-item"><a class="page-link" href="#">@i</a></li>
        }
    </ul>
</div>