@model IEnumerable<PartyInvite.Model.GuestResponse>

@{
    ViewData["Title"] = "Responses";
}

<h2>People will attend </h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gift Name</th>
        <th>Action</th>
    </tr>

    @foreach (PartyInvite.Model.GuestResponse r in Model)
    {
    <tr>
        <td>@r.Id</td>
        <td>@r.Name</td>
        <td>@r.Email</td>
        <td>@r.Phone</td>
        <td>@r.GiftName</td>
        <td>
            <a asp-controller="GuestCRUD" asp-action="EditGuest" asp-route-Id=@r.Id class="btn btn-outline-success p-0 btn-edit"> 📝 </a>
            <a asp-controller="GuestCRUD" asp-action="DeleteGuest" asp-route-Id=@r.Id class="btn btn-outline-danger p-0 btn-delete"> ❌ </a>
        </td>

    </tr>
    }
</table>

<div class="d-flex">
    <ul class="pagination mx-auto">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</div>